* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main {
  display: flex;
  justify-content: start;
  /* height: 100vh; */
  /* width: 100%; */
}
.left-side {
  width: 240px;
  height: 100%;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 50px;
  padding: 30px 15px;
  font-size: 22px;
  position: fixed;
  z-index: 10;
  /* background-color: white; */
}
.side-heading {
  padding: 0 15px;
  cursor: pointer;
  font-weight: bold;
}
.side-heading svg {
  display: none;
}
.side-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4px;
  font-size: medium;
}
.side-item,
.footer-item {
  cursor: pointer;
  font-size: 17px;
  padding: 13px;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
}
.side-item-svg,
.side-bottom-svg,
.footer-item-svg {
  transition: all 0.3s ease-in-out;
}
.side-item img,
.footer-item img {
  border-radius: 50%;
}
.side-item:hover {
  background-color: rgba(163, 162, 162, 0.205);
  border-radius: 8px;
  .side-item-svg {
    transform: scale(1.1);
  }
}
.side-bottom {
  position: fixed;
  bottom: 30px;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}
.side-bottom:hover {
  .side-bottom-svg {
    transform: scale(1.1);
  }
}
.center-container {
  margin-left: 240px;
  padding: 45px 0;
  /* padding-right: 60px; */
  /* display: flex;
  justify-content: center; */
  width: 100%;
  /* max-width: calc(100% - 240px); */
  /* margin: 0 auto; */
}
.main-container {
  /* max-width: 90%; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.center {
  /* margin-left: 240px; */
  /* padding: 45px 0; */
  /* width: 100%; */
  /* min-width: calc(100% - 240px); */
  max-width: 630px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.story-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  max-width: 630px;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  overflow-x: auto;
}
.story-container::-webkit-scrollbar {
  display: none;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3px;
  cursor: pointer;
}
.story-img {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 50%;
  width: 66px;
  height: 66px;
  padding: 3px;
}
.story-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
}
.story-username {
  font-size: 0.8rem;
}
.feed {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.posts {
  width: 468px;
  /* height: 800px; */
  padding: 10px 0;
  background-color: white;
  border-bottom: 1px solid grey;
}
.ptr {
  cursor: pointer;
}
.username-info {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.username {
  font-size: 15px;
  font-weight: 500;
}
.post-time {
  font-size: 15px;
  color: grey;
  position: relative;
  top: 2px;
}
.post-img {
  height: 468px;
  width: 100%;
  border-radius: 6px;
}
.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-details {
  width: 100%;
  padding-top: 15px;
}
.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.react {
  display: flex;
  justify-content: start;
  gap: 15px;
}
.reaction .ptr:hover {
  opacity: 0.5;
}
.post-details p {
  padding-top: 5px;
}
.likes-count {
  font-weight: 500;
  font-size: 14px;
}
.view-comments,
.add-comment {
  font-size: 15px;
  color: grey;
}
.right-side {
  width: 360px;
  /* height: 100vh; */
  /* border-left: 1px solid grey; */
  padding-left: 64px;
}
.profile,
.suggestion-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.profile-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-details > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.name {
  display: flex;
  flex-direction: column;
}
.name > .username {
  cursor: pointer;
}
.full-name {
  font-size: 14px;
  color: grey;
}
.is-follow {
  font-size: 12px;
  color: grey;
}
.profile a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #1877f2;
}
.suggestion-heading p:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
  color: grey;
}
.suggestion-heading p:nth-child(2) {
  font-size: 12px;
  color: rgb(63, 62, 62);
  cursor: pointer;
}
.suggestion-heading p:nth-child(2):hover {
  opacity: 0.6;
}
.about {
  padding-top: 30px;
  width: 285px;
}
.about p {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.548);
  padding-bottom: 10px;
}
.about p a {
  text-decoration: none;
  color: inherit;
}
.about p a:not(.no-underline):hover {
  text-decoration: underline;
}
.copyright {
  color: rgba(128, 128, 128, 0.548);
  font-size: 14px;
  text-transform: uppercase;
}
.footer-items {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  min-height: 48px;
}
.footer-item {
  padding: 12px;
  height: 100%;
}
.footer-item:hover {
  .footer-item-svg {
    transform: scale(1.1);
  }
}
.footer-item p {
  display: none;
}
@media only screen and (max-width: 767px) {
  .left-side {
    display: none;
  }
  .center-container {
    margin: 0;
  }
  .main-container {
    margin: 0;
  }
  .story-container {
    max-width: 100vw;
  }
  .posts {
    width: 100vw;
    /* padding: 0 5px; */
  }
  .username-info,
  .post-details {
    padding: 10px 5px;
  }
  .post-img {
    width: 100%;
    height: auto;
  }
  .footer-items {
    display: flex;
  }
}
@media only screen and (max-width: 1159px) {
  .right-side {
    display: none;
  }
  .center-container {
    width: 100%;
  }
}
@media only screen and (max-width: 1263px) and (min-width: 768px) {
  .center-container {
    margin-left: 72px;
  }
}
@media only screen and (max-width: 1263px) {
  .side-heading > p,
  .side-item p,
  .side-bottom p {
    display: none;
  }
  .side-heading svg {
    display: block;
  }
  .side-heading {
    padding: 12px;
    border-radius: 8px;
  }
  .left-side {
    max-width: 72px;
    padding: 20px 12px;
    align-items: center;
  }
  .side-heading:hover {
    .side-heading-svg {
      transform: scale(1.1);
      transition: all 0.4s ease-in-out;
    }
    background-color: rgba(163, 162, 162, 0.205);
  }
}
